<div class="jumbotron">
	<h1>Writers Of World</h1>
	<p>O mundo que você já conhece, agora de uma maneira que você nunca viu!</p>
	<%= image_tag "logo.png", style: "width: 250px;" %><br><br>
	<p class="btn btn-success btn-lg"> Histórias </p>
</div>

<h1 class="title-container">Navegue entre mundos!</h1>

<div class="row" style="width: 100%;">
	<div class="col-xs-1 col-md-2"></div>
	<div class="col-xs-11 col-md-8" style="margin: 0 auto;">

		<% @historys.each do |history| %>
			<div class="media">
				<div class="media-left">
					<a href="">
						<%= image_tag history.img_link %>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading"><%= history.name %></h4>
					<p><%= history.synopsi %></p>
				</div>
				<div class="align-right">
					<%= link_to history_path(history.id) do || %>
						<button type="button" class="btn btn-success">
							<i class="material-icons">&#xE8F4;</i>
						</button>
					<% end %>
				</div>
			</div>
		<% end %>

	</div> <!-- END COL-XS-11 -->
</div> <!-- END ROW -->