<%= link_to "Adicionar capítulo", 
	new_chapter_path(@history.id), 
	class: "btn btn-primary form-control" %>

<%= link_to "Apagar história", 
	history_path(@history.id), 
	method: :delete, 
	class: "btn btn-danger form-control", 
	data: { confirm: "Deseja realmente apagar está história?" } %>

<%= link_to "Editar história",
	edit_history_path(@history.id),
	class: "btn btn-success form-control" %>