<script>
	function test_image(){
		document.getElementById("img-tester").src = document.getElementById("img-link").value;
	};
</script>

<%= simple_form_for @history, url: url do |history| %>
	<%= history.input :name, label: "Nome da história", error: "Nome não pode ficar vazio." %>
	<%= history.input :synopsi, label: "Sinopse", error: "Sinopse não pode ficar vazio." %>
	<%= history.input :img_link, label: "Link de imagem (icone)", error: "Vai deixar tudo vazio mesmo?", input_html: {id: "img-link", onchange: "test_image();"} %>

	<div class="align-center">
		<p>Teste de imagem</p>
		<img src="#" style="width: 200px; height: 200px;" id="img-tester" >	
	</div>
	

	<%= history.input :by, label: "Participantes", error: "Não sei por que estou aqui, esse pode ficar vazio." %>
	<div class="align-right">
		<%= history.button :submit, "Criar História",class: "btn-primary" %>
	</div>
<% end %>

