<div class="container">
	<h1 class="title-page">Histórias</h1>

	<div class="row">
		<div class="col-xs-1 col-sm-2">
		</div>

		<div class="col-xs-10 col-sm-8">

		 	<%= btns_index_history %>

			<% @historys.each do |history| %>
				<div class="media">
					<div class="media-left">
						<a href="">
							<%= image_tag history.img_link %>
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><%= history.name %></h4>
						<p><%= history.synopsi %></p>
					</div>
					<div class="align-right">
						<%= link_to history_path(history.id) do || %>
							<button type="button" class="btn btn-success">
								<i class="material-icons">&#xE8F4;</i>
							</button>
						<% end %>
					</div>
				</div>
			<% end %>
			
		</div>

		<div class="col-xs-1 col-sm-2">
		</div>

	</div>

	
</div>