<div class="container">
	<h1 class="title-page"><%= @history.name %> - Capitulos</h1>
	<p><%= @history.synopsi %></p>

	<div class="row">
		<div class="col-xs-1 col-sm-2">
		</div>

		<div class="col-xs-10 col-sm-8">

			<%= btns_show_history %>

			<% @history.chapters.each do |chapter| %>
				<div class="media">
					<div class="media-left">
						<a href="">
							<%= image_tag "#{@history.img_link}" %>
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><%= "#{chapter.number} - #{chapter.name}" %></h4>
						<p>
							<%= chapter.context.first(120) + "..." %>
						</p>
					</div>
					<div class="align-right">
						<%= link_to chapter_path(chapter.id) do || %>
							<button type="button" class="btn btn-success">
								<i class="material-icons">&#xE8F4;</i>
							</button>
						<% end %>
					</div>
				</div>
			<% end %>

			<div class="align-center">
				<p><b>By: </b><%= @history.by %></p>
			</div>
		</div>

		

		<div class="col-xs-1 col-sm-2">
		</div>
</div>