<div class="container">
	<h1 class="title-page">Entrar</h1>

	<div class="form-container">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Log in" %>
		  </div>
		<% end %>

		<div class="align-center">
			<%= render "devise/shared/links" %>	
		</div>
		
	</div>
</div>