<%= link_to "Apagar capítulo", 
	chapter_path(@chapter.id), 
	method: :delete, 
	class: "btn btn-danger form-control", 
	data: { confirm: "Deseja realmente apagar este capítulo?" } %>

<%= link_to "Editar capítulo",
	edit_chapter_path(@chapter.id),
	class: "btn btn-success form-control" %><br><br>