<script>
	function test_image(){
		document.getElementById("img-tester").src = document.getElementById("img-link").value;
	};
</script>

<%= simple_form_for @chapter, url: url do |chapter| %>
	<%= chapter.input :number, label: "Número do capítulo", error: "Este campo não pode ficar vázio." %>
	<%= chapter.input :name, label: "Nome", error: "Nome não pode ficar vazio." %>
	<%= chapter.input :context, as: :text, label: "Contexto", error: "É preciso ter uma história." %>
	<%= chapter.input :background_link, label: "Link de imagem de fundo", error: "Vai deixar tudo vazio mesmo?", input_html: {id: "img-link", onchange: "test_image();"} %>

	<div class="align-center">
		<p>Teste de imagem</p>
		<img src="#" style="width: 200px; height: 200px;" id="img-tester" >	
	</div>

	<div style="display: none;">
		<%= chapter.input :history_id, label: "history_id", error: "Este campo não deveria dar erro.", input_html: { value: @chapter.history_id.present? ? @chapter.history_id : @history.id } %>


		value: @history.id
	</div>

	<div class="align-right">
		<%= chapter.button :submit, "Criar Capítulo", class: "btn-primary" %>
	</div>
<% end %>