<div class="jumbotron" style="background-image: url('<%= @chapter.background_link %>');">
	<h1 class="chapter-title">...</h1>
</div>

<div class="container">
<h1 class="title-page"><%= "#{@chapter.number} - #{@chapter.name}" %></h1>

<%= btns_show_chapter %>

<pre class="history-context">
<%= @chapter.context %>
</pre>

</div>
