/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_icon_fonts
 */

.Brand{
	height: 50px;
	margin-right: -10px;
}

.jumbotron{
	text-align: center;
	background-image: url("http://img03.deviantart.net/537e/i/2015/154/c/5/fantasy_forest_grotto_by_wwsketch-d8vwarl.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.brand-success{
	color: #5cb85c;
}

.title-container{
	padding: 70px 0;
	text-align: center;
}

.media{
	padding-top: 20px;
	padding-bottom:  30px;
	text-align: left;
	background-color: #eee;
	padding: 20px;
	box-shadow: 0 0px 2px rgba(0,0,0,0.7);
	overflow: inherit !important;
	margin-bottom: 50px;
}

.media:hover{
	box-shadow: 0 0px 2px #000;
}

.media img{
	width: 75px;
	margin-right: 20px;
	float: left;
}

.container{
	padding-top: 50px;
	text-align: center;
}

.title-page{
	margin: 30px 0;
	margin-bottom: 60px;
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.material-icons{
	margin-top: -10px; 
	top: 6px; 
	position: relative;
}

.chapter-title{
	text-shadow: 0 0 2px #333;
	color: rgba(120,120,120,0.5) !important;
}

.history-context{
	text-align: justify;
	white-space: pre-line;
	word-break: keep-all;
	font-size: 21px;
	line-height: 1.58em;
	font-style: normal;
	font-family: "Times New Roman";
	font-weight: 400;
}

.form-container{
	text-align: left;
	background-color: #eee;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 0 0px 2px rgba(0,0,0,0.7);
}

.search-container input{
	height: 40px;
}

.btn{
	margin-top: 5px;
}