<!DOCTYPE html>
<html>

  <head>
    <title>WritersOfWorlds</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICON FONT -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

    <!-- BOOTSTRAP3 - REFERENCE -->
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- BOOTSTRAP4 - DESIGN -->
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" style="padding-right: 5%;">
        <div class="navbar-header">

          <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#expand-nav"
          aria-expanded="false">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to root_path, class: "brand-success" do || %>
            <%= image_tag "logo.png", alt: "Brand", class: "Brand " %>
            Writers of Worlds
          <% end %>         
            
          </a>        
        </div>

        <div class="collapse navbar-collapse" id="expand-nav">
          <ul class="nav navbar-nav navbar-left">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Histórias", historys_path %></li>
            <%= nav_section %>
          </ul>
        </div>      
        
      </div>
    </nav>
  
  	<div style="height: 65px;"></div>		
  	<%= yield %>

    <footer style="text-align: center; padding: 20px 0;">
      <p>@2016 - Writers of Words</p>
    </footer>
  </body>
</html>
